* {
    box-sizing: border-box;
    margin: 30px;
    padding: 0;
    text-align: center; 
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

bory {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh; 
      
}

.emoji {
    font-size: 10rem;
    cursor: pointer;
    user-select: none; 
}

.closed {
    display: none;
}

.open {
    display: none;
}

.active {
    display: block;
}
